<a href="https://colab.research.google.com/github/AnnSenina/Python_CL_2023/blob/main/notebooks/%D0%A8%D0%BF%D0%B0%D1%80%D0%B3%D0%B0%D0%BB%D0%BA%D0%B0_%D0%BF%D0%BE_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%B0%D0%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Методы

Метод - это такая функция, которая вызывается к переменной через точку. Метод позволяет применить какую-либо операцию к переменной

###строка.сделайчто-то(аргументы)

###переменная.метод(аргументы)

## Методы строк

методы поиска и подсчета подстроки в строке

In [ ]:
text = 'This is an introduction to Python for the Digital Humanities. Today we have our second meeting. Topic: Simple data types in Python'
print(text.find('Python')) # индекс первого вхождения слова Python от начала строки
print(text.rfind('Python')) # индекс последнего вхождения слова Python, с конца строки (индекс считается от 0)
print(text.count('Python')) # сколько раз Python встречается в строке

27
124
2

заменяем символы в строке

In [1]:
text = 'This is an introduction to Python for the Digital Humanities. Today we have our second meeting. Topic: Simple data types in Python'
print(text.replace('Digital Humanities', 'Computational Linguistics')) # замена подстроки

This is an introduction to Python for the Computational Linguistics. Today we have our second meeting. Topic: Simple data types in Python

меняем регистр

In [ ]:
x = "Mr Johnson, do you live in London?"
print(x.upper()) # Преобразование строки к верхнему регистру
print(x.lower()) # Преобразование строки к нижнему регистру
print(x.capitalize()) # Переводит первый символ строки в верхний регистр, а все остальные в нижний
print(x.swapcase()) # Переводит символы нижнего регистра в верхний, а верхнего – в нижний
print(x.title()) # Первую букву каждого слова переводит в верхний регистр, а все остальные в нижний

MR JOHNSON, DO YOU LIVE IN LONDON?
mr johnson, do you live in london?
Mr johnson, do you live in london?
mR jOHNSON, DO YOU LIVE IN lONDON?
Mr Johnson, Do You Live In London?

состоит ли строка из.. (каждый из методов возвращает True или False, в зависимости от того, выполняется ли условие)

In [ ]:
x = "Hello"
print(x.isdigit())	# Состоит ли строка из цифр
print(x.isalpha())	# Состоит ли строка из букв
print(x.isalnum())	# Состоит ли строка из цифр или букв
print(x.islower())	# Состоит ли строка из символов в нижнем регистре
print(x.isupper())	# Состоит ли строка из символов в верхнем регистре
print(x.isspace())	# Состоит ли строка из неотображаемых символов (пробел, символ перевода страницы ('\f'), "новая строка" ('\n'), "перевод каретки" ('\r'), "горизонтальная табуляция" ('\t') и "вертикальная табуляция" ('\v'))
print(x.istitle())	# Начинаются ли слова в строке с заглавной буквы

False
True
True
False
False
False
True

проверяем, с чего начинается / чем заканчивается строка (возвращает True или False, в зависимости от того, выполняется ли условие)

In [ ]:
x = 'This is an introduction to Python for the Digital Humanities'
print(x.startswith('This'))
print(x.startswith('Python'))
print(x.endswith('Humanities'))
print(x.endswith('Python'))

True
False
True
False

удаляем пробельные (или другие лишние) символы

In [ ]:
x = "    В этой строке было слишком много пробелов    "
print(x.lstrip())	# Удаление пробельных символов в начале строки
print(x.rstrip())	# Удаление пробельных символов в конце строки
print(x.strip())	# Удаление пробельных символов в начале и в конце строки

x = " !   В этой строке было слишком много пробелов  !!!  "
print('\n' + x.strip('! '))	# Удаление конкретных символов в начале и в конце строки

В этой строке было слишком много пробелов
    В этой строке было слишком много пробелов
В этой строке было слишком много пробелов

В этой строке было слишком много пробелов

делим строку на список методом split()

In [ ]:
x = "Mr Johnson, you never stay in Paris, do you?"
print(x.split()) # если в скобках не задан разделитель, то разбивает по пробелам
print(x.split(',')) # сделаем разделителем запятую

## Методы списков

список можно преобразовать в строку (дейтсвие, обратное split)

In [ ]:
x = "Mr Johnson, you never stay in Paris, do you?".split()
print(x)

s = ' '.join(x) # внутри кавычек указываем разделитель (то, чем склеиваем кусочки)
print(s)
s2 = ' % '.join(x)
print(s2)

['Mr', 'Johnson,', 'you', 'never', 'stay', 'in', 'Paris,', 'do', 'you?']
Mr Johnson, you never stay in Paris, do you?
Mr % Johnson, % you % never % stay % in % Paris, % do % you?

добавление элементов в список

In [ ]:
books = ['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви']
books.append('Земон-Девис Н. Дамы на обочине') #добавить 1 элемент в конец списка
print(books)

books.extend(["Веселовский. История земства за 40 лет", "Ле Руа Ладюри Э. Монтайю, окситанская деревня"]) # расширить список
# добавить в конец все элементы, написанные в скобках метода extend
print(books)

books.insert(2, 'Арьес Ф. «Человек перед лицом смерти»') # метод, позволяющий добавить объект на конкретное место (индекс)
print(books)

['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви', 'Земон-Девис Н. Дамы на обочине']
['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви', 'Земон-Девис Н. Дамы на обочине', 'Веселовский. История земства за 40 лет', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']
['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви', 'Арьес Ф. «Человек перед лицом смерти»', 'Земон-Девис Н. Дамы на обочине', 'Веселовский. История земства за 40 лет', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']

поиск и подсчет количества вхождений

In [ ]:
# аналогично методу .find для строк
print(books.index('Арьес Ф. «Человек перед лицом смерти»')) # посмотрим, на каком месте (считая от нуля) элемент
print(books.count("Веселовский. История земства за 40 лет")) # посмотрим, сколько раз встречается нужный элемент в списке

2
1

удаление из списка

In [ ]:
books.remove('Блок М. Короли-чудотворцы') # удаление элемента из списка, если знаем его значение
print(books)

del books[2] # удаляем второй (считая с нуля) элемент из списка, по индексу
print(books)

# не рассказывала, но есть еще pop
# возвращает элемент [на указанной позиции], удаляя его из списка
print(books.pop(-2)) # = напечатай -2 элемент И удали его из списка
print(books)

['Гинзбург К. Сыр и черви', 'Арьес Ф. «Человек перед лицом смерти»', 'Земон-Девис Н. Дамы на обочине', 'Веселовский. История земства за 40 лет', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']
['Гинзбург К. Сыр и черви', 'Арьес Ф. «Человек перед лицом смерти»', 'Веселовский. История земства за 40 лет', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']
Веселовский. История земства за 40 лет
['Гинзбург К. Сыр и черви', 'Арьес Ф. «Человек перед лицом смерти»', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']

очищение списка

In [ ]:
books.clear() # очистим список от всех элементов
print(books, "\nдлина списка = ", len(books)) # напечатаем список и его длину

[]
длина списка =  0

### К кортежам можно применять только те методы, которые не изменяют содержимое кортежа

In [ ]:
t = ('Mr', 'Johnson,', 'you', 'never', 'stay', 'in', 'Paris,', 'do', 'you?')
print(' '.join(t))
print(t) # исходный кортеж не изменился

# вхождения
# аналогично методу .find для строк
print(t.index('never')) # посмотрим, на каком месте (считая от нуля) элемент
print(t.count("never")) # посмотрим, сколько раз встречается нужный элемент в списке

Mr Johnson, you never stay in Paris, do you?
('Mr', 'Johnson,', 'you', 'never', 'stay', 'in', 'Paris,', 'do', 'you?')
3
1

## Методы множеств

добавление элемента

In [ ]:
cars = {"BMW", "Toyota", "Bentley", "Jeep"}

#добавляем 1 элемент в множество
cars.add('Hyundai') # без порядкового номера, индексы не работают
print(cars)

# добавляем множество во множество
french_cars = {"Peugeot", "Citroën", "Renault"}
cars.update(french_cars) # обновить первое множество, включив все элементы из нового множества
print(cars)

{'Jeep', 'Toyota', 'Bentley', 'BMW', 'Hyundai'}
{'Citroën', 'Jeep', 'Toyota', 'Renault', 'Bentley', 'BMW', 'Hyundai', 'Peugeot'}

удаление элемента

In [ ]:
# удаляем элемент из множества
cars.remove("Jeep")
print(cars)
# если такого элемента нет, метод вызовет ошибку

cars.discard("Lamborgini")
# удаляет элемент, если он находится в множестве. Если элемента нет - ничего не происходит
# в отличие от remove, не вызывает ошибку
print(cars)

# удаляет "первый" элемент (на самом деле, индексы не работают, поэтому как бы удаляет произвольный элемент)
print(cars.pop()) # вернется удаленный элемент
print(cars) # множество изменилось, элемент удален

{'Citroën', 'Toyota', 'Renault', 'Bentley', 'BMW', 'Hyundai', 'Peugeot'}
{'Citroën', 'Toyota', 'Renault', 'Bentley', 'BMW', 'Hyundai', 'Peugeot'}
Citroën
{'Toyota', 'Renault', 'Bentley', 'BMW', 'Hyundai', 'Peugeot'}

очищение множества

In [ ]:
# очищаем множество
cars.clear()
print(len(cars), "\n", cars)

### Уникальные свойства множеств

совпадение, подмножества

In [ ]:
fruits = {'apples', 'cherries', 'oranges', 'peaches', 'pears', 'persimmons'}
fruits2 = {'apples', 'cherries', 'oranges', 'peaches', 'pears'} # по сравнению с тетрадкой с пары, внесла изменения

print(fruits == fruits2) # полное совпадение

print(fruits2 <= fruits)
print(fruits2.issubset(fruits)) # аналогично <=

print(fruits >= fruits2)
print(fruits.issuperset(fruits2)) # аналогично >=

False
True
True
True
True

объединение

In [ ]:
# объединение нескольких множеств
print(fruits | fruits2)
print(fruits.union(fruits2)) # аналогично |

{'cherries', 'peaches', 'pears', 'apples', 'oranges', 'persimmons'}
{'cherries', 'peaches', 'pears', 'apples', 'oranges', 'persimmons'}

перечение (=найди общее)

In [ ]:
#  пересечение множеств (пустое, если нет общих элементов)
print(fruits & fruits2)
print(fruits.intersection(fruits2)) # аналогично &

{'cherries', 'peaches', 'pears', 'apples', 'oranges'}
{'cherries', 'peaches', 'pears', 'apples', 'oranges'}

различия, симметрическая разница

In [ ]:
print(fruits - fruits2) # отличия множеств
print(fruits2 - fruits) # отличия множеств, порядок важен!
print(fruits.difference(fruits2)) # аналогично -

print(fruits ^ fruits2) # только различное, симметрическая разница
print(fruits.symmetric_difference(fruits2)) # аналогично ^

{'persimmons'}
set()
{'persimmons'}
{'persimmons'}
{'persimmons'}

## Методы словарей

создание словаря

In [ ]:
#с помощью метода .fromkeys() для создания словаря
people = dict.fromkeys(['Jane'], ["LA", "Atlanta"])
print(people)

d = dict.fromkeys(['a', 'b'], 100) # передали для ключей список: просто получили 2 ключа, список не станет ключом
print(d)

{'Jane': ['LA', 'Atlanta']}
{'a': 100, 'b': 100}

получение ключей / значений / пар (= достаем из словаря)

In [ ]:
d = {'Jane': "London", 'Olga': "Moscow", "Paul": "Paris", "Ivan": "Minsk", "Anne": "Copenhagen"}

# так можно посмотреть все значения всех ключей в словаре
print(d.values())

# так можно посмотреть все ключи в словаре
print(d.keys())

# так можно посмотреть все пары в виде списка кортежей
print(list(d.items()))

dict_values(['London', 'Moscow', 'Paris', 'Minsk', 'Copenhagen'])
dict_keys(['Jane', 'Olga', 'Paul', 'Ivan', 'Anne'])
[('Jane', 'London'), ('Olga', 'Moscow'), ('Paul', 'Paris'), ('Ivan', 'Minsk'), ('Anne', 'Copenhagen')]

добавление пар в словарь

In [ ]:
new_dict = {"Alexander" : "Bonn", "Julia" : "Madrid"}
d.update(new_dict) # обновляет словарь, добавляя пары (ключ, значение), метод называется так же, как и у множества
print(d)

{'Jane': 'London', 'Olga': 'Moscow', 'Paul': 'Paris', 'Ivan': 'Minsk', 'Anne': 'Copenhagen', 'Alexander': 'Bonn', 'Julia': 'Madrid'}

удаление

In [ ]:
d = {'Jane': "London", 'Olga': "Moscow", "Paul" : "Paris", "Ivan" : "Minsk", "Anne" : "Copenhagen"}
print(d.pop("Jane")) # удаляет ключ и возвращает значение
print(d)

print(d.popitem()) # удаляет и возвращает пару (ключ, значение), с конца
print(d)

London
{'Olga': 'Moscow', 'Paul': 'Paris', 'Ivan': 'Minsk', 'Anne': 'Copenhagen'}
('Anne', 'Copenhagen')
{'Olga': 'Moscow', 'Paul': 'Paris', 'Ivan': 'Minsk'}

очищаем словарь

In [ ]:
d.clear()
print(d)

{}